html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: pretendard;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: pretendard;
}

a {
  text-decoration: none;
}
